<div class="footer">

    <section>
        <h3>{{ _("Help &amp; community") }}</h3>
        <ul>
            <li><a href="/help/">{{ _("Help center") }}</a></li>
            <li><a href="/features/">{{ _("Features") }}</a></li>

        </ul>
    </section>
    <section>
        <h3>{{ _("Accounts") }}</h3>
        <ul>
            {% if find_team_link_disabled %}
            {% else %}
            <li><a href="{{ root_domain_uri }}/accounts/find">{{ _("Find account") }}</a></li>
            {% endif %}
            {% if open_realm_creation %}
            <li><a href="{{ root_domain_uri }}/new/">{{ _("New organization") }}</a></li>
            {% endif %}
            {% if login_link_disabled %}
            {% else %}
            <li><a href="{{ login_url }}">{{ _("Login") }}</a></li>
            {% endif %}
            {% if register_link_disabled %}
            {% elif only_sso %}
            {% else %}
            <li><a href="{{ url('register') }}">{{ _("Sign up") }}</a></li>
            {% endif %}
        </ul>
    </section>
    <section>
        <h3>{{ _("Apps") }}</h3>
        <ul>
            <li><a href="/apps/">{{ _("Desktop &amp; mobile apps") }}</a></li>
        </ul>
    </section>
</div>
